<form [formGroup]="form()">
    <div class="space-y-4 animate-fade-in">

        <div class="p-4 border rounded-xl" [class.border-indigo-500]="fieldInvalid('playMode')">
            <label class="flex items-center space-x-2 text-white">
                <input type="radio" formControlName="playMode" [value]="playModeTypes.PlayerVsPlayer"
                    class="accent-indigo-500" />
                <span>Jogar com um amigo</span>
            </label>

            <label class="flex items-center space-x-2 mb-2 text-white">
                <input type="radio" formControlName="playMode" [value]="playModeTypes.PlayerVsComputer"
                    class="accent-indigo-500" />
                <span>Jogar contra o computador</span>
            </label>
        </div>

        @if (fieldInvalid('playMode')) {
        <p class="text-indigo-500 text-sm mt-1">Selecione uma opção de jogo.</p>
        }

    </div>
</form>