<div class="min-h-screen flex items-center justify-center bg-gray-100">
  <div class="bg-white p-8 rounded-2xl shadow-lg w-full max-w-md">
    <h1 class="text-2xl font-bold mb-6 text-center">Jogo da velha</h1>

    <form [formGroup]="form" class="space-y-4">
      <input formControlName="fullName" type="text" placeholder="Seu nome" class="w-full p-3 border rounded-xl" />
      <input formControlName="nickname" type="text" placeholder="Nickname" class="w-full p-3 border rounded-xl" />

      <div class="flex flex-col space-y-2">
        <label class="flex items-center space-x-2">
          <input
            type="radio"
            formControlName="matchType"
            [value]="MatchTypes.CREATE"
            class="accent-blue-500"
          />
          <span>Criar nova partida</span>
        </label>

        <label class="flex items-center space-x-2">
          <input
            type="radio"
            formControlName="matchType"
            [value]="MatchTypes.JOIN"
            class="accent-blue-500"
          />
          <span>Entrar em partida existente</span>
        </label>
      </div>

      @if (isJoining) {
        <input formControlName="matchId" type="text" placeholder="ID da partida" class="w-full p-3 border rounded-xl" />
      }

      <button (click)="onSubmit()" type="submit" class="w-full bg-blue-600 text-white p-3 rounded-xl hover:bg-blue-700 transition">
        Avançar
      </button>
    </form>
  </div>
</div>
