<div class="bg-black min-h-screen flex items-center justify-center px-4">
  <div class="bg-black backdrop-blur-md p-8 rounded-3xl w-full max-w-md text-center space-y-8">

    <div class="space-y-1">
      <h2 class="text-2xl font-extrabold text-white">Tic Tac Toe</h2>
      <p class="text-sm text-indigo-500">ID da Partida: <span class="text-gray-500 font-medium">{{ currentMatchId
          }}</span></p>
      <p class="text-sm text-indigo-500">Seu ID: <span class="text-gray-500 font-medium">{{ currentPlayerId }}</span>
      </p>
    </div>

    <div class="flex items-center gap-2 justify-center">
      <p class="text-sm text-gray-500">Vez do jogador:</p>
      <p class="text-4xl font-bold text-indigo-500 tracking-wider">{{ currentSymbol }}</p>
    </div>

    <app-tic-board [currentMatch]="currentMatch"></app-tic-board>

    <button
      class="bg-indigo-500 hover:bg-indigo-400 text-white font-semibold px-6 py-3 rounded-full transition-all shadow-md w-full">
      Abandonar Partida
    </button>

  </div>
</div>